aiofiles>=23.2
arxiv>=2.1
chromadb==0.5.15
cryptography>=43.0
pymupdf>=1.24
fake-useragent>=1.5.1
Flask>=3.0
flask-cors>=5.0
frontend>=0.0.3
gs_interactive==0.3
langchain==0.2.1
langchain-chroma==0.1.1
langchain-community==0.2.1
langchain-core==0.2.3
langchain-experimental==0.0.60
langchain-google-vertexai==1.0.4
langchain-huggingface==0.0.3
langchain-openai==0.1.8
langchain-text-splitters==0.2.0
llama-cpp-python>=0.2.77
lm-format-enforcer>=0.10.2
numpy==1.26.4
Pillow>=10.3.0
psutil==6.1.0
pytest>=8.3.0
pytest-benchmark>=5.1.0
ray>=2.39.0
rapidfuzz>=3.9.7
requests>=2.31.0
rtree>=1.3.0
selectolax>=0.3.21
selenium>=4.25.0
selenium-stealth>=1.0.6
sentence-transformers>=3.0
scikit-learn>=1.5.0
scrape-google-scholar-py>=0.3.4
spacy==3.7.4
tiktoken>=0.8.0
tools>=0.1.9
torch==2.3.0
transformers==4.41
webdriver-manager>=4.0
Werkzeug>=3.0.3
socksio>=1.0.0
undetected-chromedriver==3.5.5
