.monaco-editor .view-overlays .current-line {
  background-color: transparent !important;
}

.monaco-editor .monaco-scrollable-element::-webkit-scrollbar {
  display: none;
}
.decorationsOverviewRuler {
  display: none !important;
}

.monaco-editor .view-overlays .current-line-exact {
  border: none !important;
}
