name: Prepare Publish npm packages
on:
  push:
    branches:
      - '**' # 匹配所有分支

jobs:
  publish:
    runs-on: ubuntu-latest
    # 当具有 release 标签的 PR 被合并时，自动发布包版本

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install pnpm and dependencies
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN} && pnpm run check:publish
